.footer {
  background: #414141;
  width: 100%;
  bottom: 0;
}
.footer-wrap {
  padding: 56px 160px;
}
.box-footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.box-footer ul li {
  color: #fff;
}
